<input #input type="file" (change)="upload($event)" style="display: none;">
<div class="title mt-5" *ngIf="state === 'before'">
  <div class="mat-display-2 mb-2" style="color: #0061FF;">Covid Fighters</div>
  <div class="mat-headline mb-4" style="color: #A6A6A6;">complete platform for Data crowd-sourcing and prediction for
    Covid-19 disease</div>
</div>
<button mat-fab *ngIf="state === 'before'" color="primary" class="button ml-4 mb-4" (click)="input.click()">
  <mat-icon>add</mat-icon>
</button>
<img class="illustration" *ngIf="state === 'before'" src="/assets/svg/illustration.svg" style="width: 100%;" alt="">
<!-- loading -->
<div class="loading" *ngIf="state === 'loading'">
  <mat-spinner class="spinner" [diameter]="180" color="primary"></mat-spinner>
</div>
<!-- result -->
<div class="result" *ngIf="state ==='result'">
  <img class="img" [src]="imageSource || '../../../assets/svg/cancel.svg'" alt="">
  <div class="values mt-5">
    <div class="progress mr-5">
      <span class="value">{{round(result?.predictions[0].probability) +'%'}}</span>
      <mat-spinner [value]="round(result?.predictions[0].probability)" mode="determinate">
      </mat-spinner>
      <span class="mat-h3 mt-3">{{result?.predictions[0].label}}</span>
    </div>
    <div class="progress mr-5">
      <span class="value">{{round(result?.predictions[1].probability) +'%'}}</span>
      <mat-spinner [value]="round(result?.predictions[1].probability)" mode="determinate"></mat-spinner>
      <span class="mat-h3 mt-3">{{result?.predictions[1].label}}</span>
    </div>
    <div class="progress">
      <span class="value">{{round(result?.predictions[2].probability) +'%'}}</span>
      <mat-spinner [value]="round(result?.predictions[2].probability)" mode="determinate"></mat-spinner>
      <span class="mat-h3 mt-3">{{result?.predictions[2].label}}</span>
    </div>
  </div>
  <button mat-button class="tryAgain mt-3" (click)="state = 'before'">
    <mat-icon>autorenew</mat-icon>
    Try again
  </button>
</div>
<!-- Error -->
<div class="result" *ngIf="state ==='error'">
  <img class="img" [src]="'../../../assets/svg/cancel.svg'" alt="">
  <div class="values mt-5"></div>
  <button mat-button class="tryAgain mt-3" (click)="state = 'before'">
    <mat-icon>autorenew</mat-icon>
    Try again
  </button>
</div>
