:host {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 30vh 60vh 10vh;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
  .title {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  .button {
    justify-self: center;
    align-self: center;
    transform: scale(3);
    :hover {
      content: "Upload";
    }
  }
  .illustration {
    height: 120%;
  }
  .loading {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .result {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
