<span class="mat-h1 mt-2">Disclaimer</span>
<p class="mat-body">The following demo does not claim, nor does it intend to “solve”, COVID-19 detection. It is a demonstration for
  automatic COVID-19 detection using machine learning and is not meant to be a reliable, highly accurate COVID-19
  diagnosis system, nor has it been professionally or academically vetted.</p>
<div class="actions mt-5">
  <button mat-raised-button color="primary" (click)="accept(true)">Accept</button>
  <button mat-button color="warn" (click)="accept(false)">Reject</button>
</div>
