.grid {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
    background-color: #ffffff;

    .problem-img {
        width: 350px;
        height: 192px;
    }

    .content {
        margin: 16px 24px;

        .description {
            margin-top: 8px;
        }

        .user-container {
            display: flex;
            align-items: center;
            margin-top: 16px;
        }

        .info-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .info {
                display: flex;
                margin-top: 18px;
                align-items: center;
            }
        }

        .ai-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 8px;

            .ai-diagnose {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                >.diagnose-info {
                    display: flex;
                    justify-content: left;
                    align-items: center;
                    border-radius: 10.8px;
                    border: solid 0.9px #484848;
                    margin-right: 16px;
                    padding: 2.6px;
                    margin-top: 12px;
                    .icon {
                        font-size: 14.4px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: -0.08px;
                        color: #484848;
                        margin: 2px 5px;
                    }

                    .text {
                        display: flex;
                        justify-content: flex-start;
                        font-size: 11.7px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #484848;
                        margin-right: 5px;

                        .bold {
                            font-weight: bold;

                        }
                    }
                }
            }

            .diagnose {
                width: 102px;
                height: 32px;
                border-radius: 4px;
                background-color: #0061FF;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }

        button {
            width: 302px;
            height: 48px;
            margin-top: 26px;
            background-color: #0061FF;
            border-radius: 4px;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }
}

.list {
    width: 730px;
    border-radius: 4px;
    box-shadow: 0 3px 4px 0 rgba(10, 31, 68, 0.1), 0 0 1px 0 rgba(10, 31, 68, 0.08);
    background-color: #ffffff;

    .card-content {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 24px;

        .images {
            display: flex;
            justify-content: space-between;
            margin-top: 16px;

            img {
                width: 216px;
                height: 125px;
                border-radius: 4.6px;
                cursor: pointer;
            }
        }
    }

    >.separation {
        width: 730px;
        height: 2px;
        border: solid 1px #e1e4e8;
    }

    .card-footer {
        display: flex;
        height: 100%;
        justify-content: space-between;
        padding: 16px 24px;

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .separation {
                width: 1px;
                height: 15px;
                border: solid 1px #e1e4e8;
                margin: 0px 16px;
            }
        }

        .diagnose {
            width: 102px;
            height: 32px;
            border-radius: 4px;
            background-color: #0061FF;
            font-size: 14px;
            font-weight: 500;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.43;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
        }
    }

    .card-footer-archive {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 16px 24px;

        .info {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .separation {
                width: 1px;
                height: 15px;
                border: solid 1px #e1e4e8;
                margin: 0px 16px;
            }
        }

        .ai-container {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 8px;

            .ai-diagnose {
                display: flex;
                justify-content: space-around;

                >.diagnose-info {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    border-radius: 10.8px;
                    border: solid 0.9px #484848;
                    margin-right: 16px;
                    padding: 2.6px;

                    .icon {
                        font-size: 14.4px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: -0.08px;
                        color: #484848;
                        margin: 2px 5px;
                    }

                    .text {
                        display: flex;
                        font-size: 11.7px;
                        font-weight: normal;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #484848;
                        margin-right: 5px;

                        .bold {
                            font-weight: bold;

                        }
                    }
                }
            }

            .diagnose {
                width: 102px;
                height: 32px;
                border-radius: 4px;
                background-color: #0061FF;
                font-size: 14px;
                font-weight: 500;
                font-style: normal;
                font-stretch: normal;
                line-height: 1.43;
                letter-spacing: normal;
                text-align: center;
                color: #ffffff;
            }
        }
    }
}

/* shared styles */

.title {
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.44px;
    color: #121212;
}

.description {
    margin-top: 16px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.41;
    letter-spacing: normal;
    color: #8f8f8f;
}

.text {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4a4a4a;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 8px;
}

.tags {
    display: flex;
    position: absolute;
    right: 16px;
    top: 16px;

    .tag {
        margin: 0px 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 21.6px;
        border-radius: 10.8px;
        border: solid 0.9px #7a99ff;
        background-color: #ffffff;

        font-size: 11.7px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #7a99ff;

        .material-icons {
            font-size: 13.4px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: -0.08px;
            color: #7a99ff;
            margin-right: 5px;
        }
    }
}
