<div class="grid">
  <div class="tags">
    <div *ngFor="let tag of metadata.tags" class="tag"><i class="material-icons">send</i>send</div>
  </div>
  <img class="problem-img" [src]="''" alt="">
  <div class="content">
    <div class="description">{{metadata.description}}</div>
    <div class="info-container">
      <div class="info">
        <i class="logo material-icons">access_time</i>
        <span class="text">{{metadata.updated_at | timeSpan}}</span>
      </div>
      <div class="info">
        <i class="logo material-icons">location_on</i>
        <span class="text">{{metadata.affiliation}}</span>
      </div>
    </div>
    <div *ngIf="isArchive" class="ai-container">
    </div>
    <button mat-raised-button (click)="open()">Annotate</button>
  </div>
</div>
