<header focusOnNavigation class="docs-header-background" aria-label="Get started" id="homepage-header">
  <div class="docs-header-section">
    <div class="docs-header-headline">
      <h1 class="mat-h1" >FIGHT COVID !</h1>
      <h2>We deeply believe that machine learning will help us to fight against COVID-19. To succeed, machine learning
        engineers need reliable training data.
      </h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button class="docs-button" [routerLink]="[ '/demo' ]">Try COVIDEEP</a>
    </div>
  </div>
</header>

<main class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/collaborate.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Collaborative</h2>
      <p>The data platform is and will remain free of charges and free to download the collected & annotated data.<br> <a [routerLink]="[ '/home']">do you want dataset ?</a></p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_agree.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>High-Quality Data</h2>
      <p>Data are annotated by highly skilled radiologists.<br> <a [routerLink]="[ '/contact']">Help
          annotating data</a></p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_open_source.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Free data and Open source</h2>
      <p>Filter data and download only what you need using our powerful filtering tool <br><a
          href="https://github.com/farmy-ai/covid-fighters">View on Github</a></p>
    </div>
  </div>
 <!--  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_up_to_date.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Up-To-Date</h2>
      <p>Get notification in app or per mail when new data arrive </p>
    </div>
  </div> -->
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="d-flex flex-column justify-content-center align-items-center mat-elevation-z2 p-5 contactUs" style="width: 900px;border-radius: 24px;">
      <span class="mat-display-2">Join our radiologist team</span>
      <docs-svg-viewer src="../assets/svg/undraw_radio.svg" class="mb-5" [scaleToContainer]="true"></docs-svg-viewer>
      <button mat-raised-button color="accent" [routerLink]="[ '/contact']">Contact Us</button>
    </div>
  </div>
</main>
