@import "~@angular/material/theming";

:host {
  width: 100%;
}

// The margin between two sections
$margin-promotion-sections: 60px;
$margin-promotion-sections-small: 15px;
$primary: mat-palette($mat-indigo);

.contactUs {
  background-color: mat-color($primary);
  color: white;
}

.docs-header-background {
  display: grid;

  grid-template-columns: 10vw 35vw 55vw;
  grid-template-rows: 30vh 37vh 23vh;
  background-color: mat-color($primary);
  color: white;

  .title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: flex-end;
    justify-content: center;
    font-weight: 300;
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -2px;
    text-align: left;
  }
  .description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-start;
    justify-self: center;
    box-sizing: border-box;
    margin-top: 0;
    opacity: 0.9;
    color: #ddd;
    font-size: 20px;
    line-height: 36px;
    font-weight: 300;
    text-align: left;
  }
  .button {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    align-self: flex-start;
    justify-self: flex-start;
    width: 124px;
    margin-left: 29px;
    margin-top: 16px;
    transform: scale(1.36);
  }
  .logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    align-self: center;
    justify-content: center;
    width:640px;
    margin-left: 62px;
  }
}

.docs-header-section {
  text-align: center;
  padding-top: $margin-promotion-sections;
}

.docs-header-headline {
  h1 {
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
  }

  h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
    margin: 15px 0 25px 0;
  }
}

.docs-homepage-promo {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2 {
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 16px 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    margin: 0 0 24px 0;
    padding: 0;
  }
}

.docs-homepage-row {
  display: flex;
  max-width: 920px;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-row .docs-svg-image {
  max-width: 90%;
}

.docs-homepage-reverse-row {
  flex-direction: row-reverse;
}

.docs-header-start,
.docs-homepage-bottom-start {
  text-align: center;
  margin: $margin-promotion-sections 0;
}

.docs-homepage-promo-img,
.docs-homepage-promo-desc {
  width: 50%;
}

.docs-homepage-promo-img {
  text-align: center;
}

.docs-homepage-promo-desc {
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/**
  * Rules for when the device is detected to be a small screen.
  */
@media (max-width: 720px) {
  .docs-header-section {
    padding-top: $margin-promotion-sections-small;
  }

  .docs-header-start,
  .docs-homepage-bottom-start {
    margin: $margin-promotion-sections-small 0;
  }

  .docs-homepage-row {
    margin: $margin-promotion-sections-small 0;
  }
}
