<header focusOnNavigation class="docs-header-background" aria-label="Get started" id="homepage-header">
  <h1 class="title  ">FIGHT CORONAVIRUS WITH US !</h1>
  <h2 class="description ">
    <strong>COVIDEEP</strong> is a Data Collection & Annotation framework that improves the deployment of AI models in production. COVIDEEP offers three main services: <br>
    &nbsp;&nbsp;<strong>•</strong>	Open X-rays/CT-scans collection<br>
    &nbsp;&nbsp;<strong>•</strong>	Data annotation by highly skilled radiologists<br>
    &nbsp;&nbsp;<strong>•</strong>	AI model building based on high-quality data
  </h2>
  <a mat-raised-button class="button" [routerLink]="[ '/demo' ]">Try COVIDEEP</a>
  <img class="logo" src="../assets/svg/logo.svg"/>

</header>

<main class="docs-homepage-promo">
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/collaborate.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Collaborative</h2>
      <p>The data platform is and will remain free of charges and free to download the collected data.<br>
        <a [routerLink]="[ '/home']">Do you want dataset ?</a></p>
    </div>
  </div>
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_agree.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>High-Quality Data</h2>
      <p>Data are annotated by highly skilled radiologists.<br> <a [routerLink]="[ '/contact']">Help
          annotating data</a></p>
    </div>
  </div>
  <div class="docs-homepage-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_open_source.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Free data and Open source</h2>
      <p>Filter data and download only what you need using our powerful filtering tool <br><a
          href="https://github.com/farmy-ai/covid-fighters">View on Github</a></p>
    </div>
  </div>
  <!--  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="docs-homepage-promo-img">
      <docs-svg-viewer src="../assets/svg/undraw_up_to_date.svg" [scaleToContainer]="true"></docs-svg-viewer>
    </div>
    <div class="docs-homepage-promo-desc">
      <h2>Up-To-Date</h2>
      <p>Get notification in app or per mail when new data arrive </p>
    </div>
  </div> -->
  <div class="docs-homepage-row docs-homepage-reverse-row">
    <div class="d-flex flex-column justify-content-center align-items-center mat-elevation-z2 p-5 contactUs"
      style="width: 900px;border-radius: 24px;">
      <span class="mat-display-2">Join our radiologist team</span>
      <docs-svg-viewer src="../assets/svg/undraw_radio.svg" class="mb-5" [scaleToContainer]="true"></docs-svg-viewer>
      <button mat-raised-button color="accent" [routerLink]="[ '/contact']">Contact Us</button>
    </div>
  </div>
</main>
