<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav class="mat-elevation-z4 sidenav" mode="over">
    <div class=" mat-display-3 logo">
      Covid19
    </div>
    <mat-nav-list class="d-flex flex-column" style="height: calc(100vh - 150px);">
      <mat-list-item style="background-color: #2666b9;color: white;">
        <mat-icon matListIcon>cloud_upload</mat-icon>
        <h3 matLine>Upload Data</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>home</mat-icon>
        <h3 matLine>home</h3>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>live_help</mat-icon>
        <h3 matLine>about</h3>
      </mat-list-item>
      <mat-list-item class="mt-auto">
        <mat-icon matListIcon>directions_run</mat-icon>
        <h3 matLine>Disconnect</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">

    <div class="content">

      <div class="medicaments">
        <div [@fade]="{value: '*', params: { delay: (1*300)%2700}}" class="medic-card pt-5 pb-3 px-3">

          <span class="mat-display-3 mb-4">COVID-19</span>

          <div class="mat-caption">
            <span class="mat-display-2 mb-4 ml-4">{{covid.count || 0}}</span> / images
          </div>

          <div class="selectable my-5">
            <mat-slide-toggle disabled>Annotated by expert</mat-slide-toggle>
            <mat-slide-toggle disabled>X-ray</mat-slide-toggle>
            <mat-slide-toggle disabled>CT-scan</mat-slide-toggle>
          </div>

          <button mat-button class="download my-4" (click)="download('covid')">Download</button>
          <mat-divider class="mb-2" style="width: 100%;"></mat-divider>
          <div class="mat-caption">Last Update</div><span class="mat-body-2">{{covid.update}}</span>


        </div>
        <div [@fade]="{value: '*', params: { delay: (1*300)%2700}}" class="medic-card pt-5 pb-3 px-3">

          <span class="mat-display-3 mb-4">Pneumonia</span>

          <div class="mat-caption">
            <span class="mat-display-2 mb-4 ml-4">{{pneumonia.count || 0}}</span> / images
          </div>

          <div class="selectable my-5">
            <mat-slide-toggle disabled>Confirmed</mat-slide-toggle>
            <mat-slide-toggle disabled>Labeled</mat-slide-toggle>
            <mat-slide-toggle disabled>X-ray</mat-slide-toggle>
            <mat-slide-toggle disabled>Dicom</mat-slide-toggle>
          </div>

          <button mat-button class="download my-4" (click)="download('pneumonia')">Download</button>
          <mat-divider class="mb-2" style="width: 100%;"></mat-divider>
          <div class="mat-caption">Last Update</div><span class="mat-body-2">{{pneumonia.update}}</span>

        </div>
        <div [@fade]="{value: '*', params: { delay: (1*300)%2700}}" class="medic-card pt-5 pb-3 px-3">

          <span class="mat-display-3 mb-4">Other</span>

          <div class="mat-caption">
            <span class="mat-display-2 mb-4 ml-4">{{other.count || 0}}</span> / images
          </div>
          <div class="selectable my-5">
            <mat-slide-toggle disabled>Confirmed</mat-slide-toggle>
            <mat-slide-toggle disabled>Labeled</mat-slide-toggle>
            <mat-slide-toggle disabled>X-ray</mat-slide-toggle>
            <mat-slide-toggle disabled>Dicom</mat-slide-toggle>
          </div>
          <button mat-button class="download my-4" (click)="download('other')">Download</button>
          <mat-divider class="mb-2" style="width: 100%;"></mat-divider>
          <div class="mat-caption">Last Update</div><span class="mat-body-2">{{other.update}}</span>
        </div>

      </div>
    </div>
  </div>
</mat-sidenav-container>
