<div class="app-container">

    <div class="content">
        <div class="content-container">

            <div class="problems-container">
                <div class="left-container">
                    <div class="filter" [formGroup]="form">
                        <span class="title">Filters</span>
                        <div class="field">

                          <mat-form-field appearance="outline">
                            <mat-label>Affiliation</mat-label>
                            <input matInput placeholder="affiliation..." formControlName="search">
                            <mat-icon matSuffix>flag</mat-icon>
                          </mat-form-field>

                        </div>
                        <div class="status">
                            <div class="title">Status</div>
                            <div class="field">
                                <mat-checkbox formControlName="xRay" [disabled]="XrayCount() === 0">X-ray</mat-checkbox>
                                <div class="number">{{XrayCount()}}</div>
                            </div>
                            <div class="field">
                                <mat-checkbox formControlName="ctScan" [disabled]="CtCount() === 0">Ct-scan</mat-checkbox>
                                <div class="number">{{CtCount()}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="problems-content">
                    <div class="info">
                        <div class="text">
                            <span class="title">Images</span>
                            <p class="description">A total of <span class="number"> {{new.length}}</span> images</p>
                        </div>

                    </div>
                    <ng-container *ngIf="!uiState.loading; else elseTemplate">
                        <div class="separation"></div>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <mat-progress-bar class="loading" mode="indeterminate"></mat-progress-bar>
                    </ng-template>

                    <div class="problems grid">
                        <app-problem-card *ngFor="let item of filter | load : uiState.end ; trackBy:tracbyfn;let i = index;" [data]="item" (diagnose)="openDialog($event)"></app-problem-card>
                    </div>

                    <div class="pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
