.notif{
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 60;
  background-color: #A6A6A6;
  color: white;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: ghostwhite;

  .toolbar {
    max-width: 100%;
    width: 100%;
    /* @media (min-width: 1100px) {
          margin: 8px 0px;
      } */
    color: white;
    display: flex;
    @media (max-width: 420px) {
      display: none;
    }

    .toolbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .navs {
        @media (max-width: 480px) {
          font-size: 16px;
        }
        button {
          margin: 0 0px;
        }
      }
    }
    .action {
      // background-color: white;
      // color: #0061ff;
      width: 124px;
    }
  }
}
