:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  .content-card {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    max-height: 80vh;
    min-height: 80vh;

    mat-form-field {
      width: 100%;
    }
  }
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
