<div class="content-container">
  <div class="image-container">
    <img [src]="data.s3_path" class="image">

  </div>
  <div class="content-container">
    <div class="header py-3 px-4">
      <i class="info-icon material-icons">access_time</i>
      <span class="info-text">{{data.createdAt | timeSpan}}</span>
      <div class="h-separation"></div>
      <i class="info-icon material-icons">location_on</i>
      <span class="info-text">{{data.affiliation}}</span>
    </div>
    <div class="separation"></div>
    <div class="problem-container">
      <span class="title">{{data.disease_type}}</span>
      <p class="description">{{data.description}}</p>
    </div>
    <div class="diagnose-container">
      <mat-form-field class="mb-3" appearance="outline">
        <mat-label>Disease</mat-label>
        <mat-select [(ngModel)]="formValue.disease_type">
          <mat-option value="covid">Covid 19</mat-option>
          <mat-option value="pneumonia">Pneumonia</mat-option>
          <mat-option value="other">Other</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="if other please specify..." [(ngModel)]="formValue.description" name="diagnose"
          id="" rows="3"></textarea>
      </mat-form-field>
      <div class="action-container">
        <button mat-button class="cancel" (click)="dialogRef.close()"><i class="material-icons">close</i>Cancel</button>
        <button [disabled]="formValue.disease_type === ''" mat-raised-button class="send" (click)="onSave()"><i
            class="material-icons">send</i>Send</button>
      </div>
    </div>
  </div>
</div>
